@import '../utils/variables.scss';
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    &__element {
        text-decoration:none;
        color: black;
        font-family:$font-1;
        font-size: 1rem;
    }
    &__element:hover{
        color:$text-color-2;
    }
}