@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.neas-section{
    @include section;
    & > .allneas{
        margin-top: 6.5rem;
        @include list-row;
        // background-color: #091929;
    }
    & > .plus{
        position: fixed;
        width: 5rem;
        height: 5rem;
        background-color: #15232c;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(135deg, #240d52 0%, #111236 100%);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 50%;
        top: 80%;
        right: 5%; 
    }
}